/* Importing google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap");
/* default css starts */
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	font-family: "Poppins", sans-serif;
}
.pictures img {
	height: 450px;
	width:450px;
	padding: 10px;
}
.trending img {
	height: 450px;
	width:450px;
	padding: 10px;
}
@media (max-width: 750px){
	.pictures, .trending {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}